body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0 auto;
    max-width: 600px; 
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;   
}

.main-content {
    flex-grow: 1;
}

.main-content p, .main-content form {
    margin-right: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 36px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
    cursor: pointer;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1 {
    margin-bottom: 16px;
}

.portrait {
    width: 250px;
}

form > button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
    margin-bottom: 8px;
}

li button {
    border: 1px solid #888888;
    background: mistyrose;
    color: #333333;
    margin-bottom: 8px;
    margin-left: 8px;
}

button.deleteBtn {
    border-radius: 3px;
}

#taskList {
    list-style-type: none;
    padding-inline-start: 16px;
}

#taskList input[type="text"] {
    border: none;
}

input[type="checkbox"] {
    margin-right: 6px;
    transform: scale(1.3);
}

.tasksForm {
    margin: 20px 0;
    display: flex;
    align-items: flex-end;
}

.tasksForm input, .loginForm input {
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 8px;
}

.tasksFilter, .tasksSort {
    margin: 16px 0 
}

.tasksFilter > a, .tasksSort > a, .tasksPaging a {
    margin: 16px 16px;
    color: #888888;
    text-decoration: none;
}

.errorMsg {
    color: red;
    font-size: small;
}