<header>
    <form method="POST" action="/users/logout">
        <a href="/">Home</a>
        <a href="/about">About</a>
        {{#if isAuthUser}}
        <a onclick="this.parentNode.submit()">Logout</a>
        {{else}}
        <a href="/users/login">Login</a>
        {{/if}}
    </form>
</header>