<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Task manager app</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/todos_icon.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>About</h1>
        <p>This site uses a mongodb database to store your tasks in the mongodb cloud. Data is protected with jwt and bcrypt. SendGrid mail API is used to send welcome/cancelation emails.</p>
        <img class="portrait" src="/img/Foto_4x3.JPG" alt="My picture">

    </div>
    {{>footer}}
</body>
</html>